<h4>{{ _('Action Trigger Plugin') }}</h4>

<div class="control-group">
  <strong>Door</strong></br>
  Enabling this option will pause the printer and home X when the door is opened. Disable this option if you want to be able to open the door while printing.
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" data-bind="checked: settings.plugins.actiontrigger.action_door"> {{ _('Door detection') }}
    </label>
  </div>
</div>
<div class="control-group">
  <strong>Filament Detection</strong></br>
  This option enables the filament detection, pausing the print when there is no filament fed into the printer.
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" data-bind="checked: settings.plugins.actiontrigger.action_filament"> {{ _('Filament detection') }}
    </label>
  </div>
  <strong>Time out </strong></br>
  Amount of seconds that will pass until the heaters are shut off if a filament stop is detected. 
  <div class="input-append">
      <input type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.actiontrigger.time_out">
      <span class="add-on">Seconds</span>
  </div>
</div>
